!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chatrooms
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.stretched.side-panel-left.sticky-footer
    = render partial: "shared/side_panel"
    = render partial: "shared/header"
    #wrapper.clearfix
      = yield
    #gotoTop.icon-angle-up
  = javascript_include_tag '/assets/functions.js'
